<header class="header">
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="/trang-chu.html"><img src="img/Logo1.jpg" alt="DJI Logo"></a>
            </div>
            <ul class="menu">
                <li><a href="/gioi-thieu.html">Giới Thiệu</a></li>
                <li><a href="/san-pham.html">Sản Phẩm</a></li>
                <li><a href="/huong-dan-mua-hang.html">Hướng Dẫn Mua Hàng</a></li>
                <li><a href="/bao-hanh.html">Dịch Vụ Bảo Hành</a></li>
                <li><a href="/tin-tuc.html">Tin Tức</a></li>
                <li><a href="/lien-he.html">Liên Hệ</a></li>
            </ul>
            <div class="search-cart">
                <input type="text" placeholder="Tìm kiếm">
                <i class="fas fa-search"></i>
                <a href="/gio-hang.html"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
    </nav>
</header>
